<!DOCTYPE HTML>

<html>
	<div class="page-header">
	  <nav>
	    <ul class="menu">
	      <li><a href="#">Home</a></li>
	      <li><a href="#">About</a></li>
	      <li class="dropdown">
	        <a href="#">Sections</a>
	        <ul class="dropdown-menu">
	          <li><a href="#">Who are we?</a></li>
	          <li><a href="#">Why do we teach?</a></li>
	          <li><a href="#">FREE teaching resources</a></li>
	        </ul>
	      </li>
	      <li><a href="#comment">Contact</a></li>
	    </ul>
	  </nav>
	</div>

	<head>
		<title>James' Webdev Portfolio and Blog</title>
		<link rel="icon" type="image/png" href="./programming/static/tank.ico.ico">
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<link rel="stylesheet" href="./static/assets/css/main.css"/>
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Intro -->
					<section class="intro">
						<header>
							<h1>James'<br> Resource Platform 'JRP'</h1>
							<p>A free teaching resource website, built and managed by myself!<br> <a href="https://www.youtube.com/watch?v=mj_dhImiej8" target="_blank">YA DUN KNO</a> / <a href="#"></a>ITS UR BOY BIG JAMES</p>
							<ul class="actions">
								<li><a href="#first" class="arrow scrolly"><span class="label">Next</span></a></li>
							</ul>
						</header>
						<div class="content">
							<span class="image fill" data-position="center"><img src="./static/images/pic01.jpg" alt="" /></span>
						</div>
					</section>

					<section id="visitor-counter">
                        <header>
                            <h2>Visitor Counter</h2>
                        </header>
                        <div class="content">
                            <div id="visitorCount"></div>
                        </div>
                    </section>

				<!-- Section -->
					<section id="first">
						<header>
							<h2>Why do we teach?</h2>
						</header>
						<div class="content">
							<p><strong>Why do this? </strong> For the youth!</p>
							<span class="image main"><img src="./static/images/pic02.jpg" alt="" /></span>
						</div>
					</section>

				<!-- Section -->
					<section>
						<header>
							<h2>SECOND HEADER</h2>
						</header>
						<div class="content">
							<p><strong>Cha cha</strong>The commistador</p>
							<ul class="feature-icons">
								<li class="/static/icon solid fa-laptop">Consequat tempus</li>
								<li class="./static/icon solid fa-bolt">Etiam adipiscing</li>
								<li class="./static/icon solid fa-signal">Libero nullam</li>
								<li class="./static/icon solid fa-cog">Blandit condimentum</li>
								<li class="./static/icon solid fa-map-marker-alt">Lorem ipsum dolor</li>
								<li class="./static/icon solid fa-code">Nibh amet venenatis</li>
							</ul>
							<p>Advertisements here</p>
						</div>
					</section>

				<!-- Section -->
					<section>
						<header>
							<h2>THIRD HEADER</h2>
						</header>
						<div class="content">
							<p><strong>Development and Solutions</strong>Coming soon</p>

							<!-- Section -->
								<section>
									<header>
										<h3>Whats this</h3>
										<p>Information to be added</p>
									</header>
									<div class="content">
										<div class="gallery">
											<a href="./static/images/gallery/fulls/01.jpg" class="landscape"><img src="./static/images/gallery/thumbs/01.jpg" alt="" /></a>
											<a href="./static/images/gallery/fulls/02.jpg"><img src="./static/images/gallery/thumbs/02.jpg" alt="" /></a>
											<a href="./static/images/gallery/fulls/03.jpg"><img src="./static/images/gallery/thumbs/03.jpg" alt="" /></a>
											<a href="./static/images/gallery/fulls/04.jpg" class="landscape"><img src="./static/images/gallery/thumbs/04.jpg" alt="" /></a>
										</div>
									</div>
								</section>

							<!-- Section -->
								<section>
									<header>
										<h3>A History teacher with a sprinkle of SEN</h3>
										<p>Tips and tricks for managing the 'tricky' students</p>
									</header>
									<div class="content">
										<div class="gallery">
											<a href="./static/images/gallery/fulls/05.jpg" class="landscape"><img src="./static/images/gallery/thumbs/05.jpg" alt="" /></a>
											<a href="./static/images/gallery/fulls/06.jpg"><img src="./static/images/gallery/thumbs/06.jpg" alt="" /></a>
											<a href="./static/images/gallery/fulls/07.jpg"><img src="./static/images/gallery/thumbs/07.jpg" alt="" /></a>
										</div>
									</div>
								</section>

							<!-- Section -->
								<section>
									<header>
										<h3>Learning the coding journey</h3>
										<p>Do what I want</p>
									</header>
									<div class="content">
										<div class="gallery">
											<a href="./static/images/gallery/fulls/08.jpg" class="portrait"><img src="./static/images/gallery/thumbs/08.jpg" alt="" /></a>
											<a href="./static/images/gallery/fulls/09.jpg" class="portrait"><img src="./static/images/gallery/thumbs/09.jpg" alt="" /></a>
											<a href="./static/images/gallery/fulls/10.jpg" class="landscape"><img src="./static/images/gallery/thumbs/10.jpg" alt="" /></a>
										</div>
									</div>
								</section>

						</div>
					</section>

				<!-- Section -->
					<section>
						<header>
							<h2>Here for FREE teaching resources?</h2>
						</header>
						<div class="content">
							<p><strong>Here for a wide range of free teaching resources? </strong> Click the buttons below to find out more/or to get started!</p>
							<ul class="actions">
								<li><a href="#comment" class="button primary large">Free lesson resources</a></li>
								<li><a href="#comment" class="button large">Learn More about what we do</a></li>
							</ul>
						</div>
					</section>

				<!-- Section -->
					<section id="comment">
						<header>
							<h2>Get in touch</h2>
						</header>
						<div class="content">
							<p><strong>COMMENTS</strong> Leave a comment and I might get back to you</p>
							<form action="submit_form" target="_blank" method="post" class="reveal-content">
								<div class="fields">
									<div class="field half">
										<input type="text" name="name" id="name" placeholder="Name" />
									</div>
									<div class="field half">
										<input type="email" name="email" id="email" placeholder="Email" />
									</div>
									<div class="field">
										<textarea name="message" id="message" placeholder="Message" rows="7"></textarea>
									</div>
								</div>
								<ul class="actions">
									<li><input type="submit" value="Send Message" class="button primary" /></li>
								</ul>
							</form>
						</div>
						<footer>
							<ul class="items">
								<li>
									<h3>Email</h3>
									<a href="#">BIGBALDY123@Gmail.com</a>
								</li>
								<li>
									<h3>Phone</h3>
									<a href="#">N/a</a>
								</li>
								<li>
									<h3>Address</h3>
									<span>N/a</span>
								</li>
								<li>
									<h3>Elsewhere</h3>
									<ul class="icons">
										<li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
										<li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
										<li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
										<li><a href="#" class="icon brands fa-linkedin-in"><span class="label">LinkedIn</span></a></li>
										<li><a href="#" class="icon brands fa-github"><span class="label">GitHub</span></a></li>
										<li><a href="#" class="icon brands fa-codepen"><span class="label">Codepen</span></a></li>
									</ul>
								</li>
							</ul>
						</footer>
					</section>

				<!-- Copyright -->
					<div class="copyright">&copy; James Clarke. All rights reserved. Design: <a href="#">Insert Route</a>.</div>
			</div>

		<!-- Scripts -->
			<script src="./static/assets/js/jquery.min.js"></script>
			<script src="./static/assets/js/jquery.scrolly.min.js"></script>
			<script src="./static/assets/js/browser.min.js"></script>
			<script src="./static/assets/js/breakpoints.min.js"></script>
			<script src="./static/assets/js/util.js"></script>
			<script src="./static/assets/js/main.js"></script>
			<script src="./static/assets/js/visitor-counter.js"></script>
			<script src="./static/assets/js/Header.js"></script>

	</body>
</html>